* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.8rem;
  color: white;
}
.clear {
  clear: both;
}
h2 {
  font-size: 3.6rem;
  padding: 5rem 0rem;
}
h3 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
}
button {
  font-size: 1.8rem;
}

nav {
  background-color: rgba(0, 173, 101, 0.712);
  color: white;
  padding: 3rem;
}

nav h1 {
  float: left;
}
nav ul {
  float: right;
}
nav li {
  float: left;
  margin: 0rem 4rem;
  list-style: none;
}
.hero-section {
  background-image: url("https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&w=600");
  height: 80rem;
  background-size: cover;
  background-position: center;
  text-align: center;
  text-shadow: 3px 3px 3px black;
  color: white;
  padding-top: 15rem;
}

button {
  margin-top: 1rem;
  padding: 1rem 4rem;
  cursor: pointer;
  background-color: rgba(0, 173, 101, 0.712);
  border: none;
  color: white;
}

.form-section {
  text-align: center;
}

form {
}
form input,
form textarea,
form label {
  display: block;

  font-size: 2rem;
}

form input,
form textarea {
  margin: 2rem auto;
  width: 50%;
}

form button {
  margin-bottom: 10rem;
}
